{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold ">Add a new note</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'notes:create-note' %}">
        {% csrf_token %}
        <div class="col-6">
            <div class="row  my-2">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="row  my-2">
                {{ form.content|as_crispy_field }}
            </div>
        </div>

        <button class="btn btn-success" type="submit" class="">Create</button>
    </form>
    {% else %}
        <p>You are not logged in, Please click <a href="{% url 'login' %}" class="">here</a> to login and add a todo!</p>
    {% endif %}
{% endblock content %}