{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="bg-light text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-dark">Delete {{ note.title }} </h1>
        </div>
    </div>
    <form method="post" action="{% url 'notes:delete-note' note.pk %}">
        {% csrf_token %}
        <div class="co-6l">
            <div class="row ">
                {{ form.title|crispy }}
            </div>
        </div>
        <p class="">Are you sure you want to delete this note?</p>
        <hr>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-info mx-2" type="submit">
                <a  class="" href="{% url 'notes:note-list' %}">Go back</a>
            </button>
            <button class="btn btn-danger " type="submit">Delete</button>
        </div>
        
    </form>
{% endblock content %}

