{% extends 'base.html' %}

{% block content %}
    {% for note in notes %}
    <div class="card bg-light border-primary mb-3" style="width: 100%;">
        <div class="card-body text-dark">
            <h5 class="card-title pb-3 m-1"><a href="{% url 'notes:note-detail' note.pk %}">{{ note.title }}</a></h5>
            <p class="card-subtitle text-muted"> By {{ note.user }},  In <time>{{ note.created_on|date:'d-m-Y' }}</time></p>
            <hr class="text-light">
            <p class="card-text pt-3 m-1">{{ note.content|slice:':50' }}</p>

            {% if note.user == user %}
                <div class="form-inline my-2 my-lg-0">
                    <button class="btn btn-info mx-2">
                        <a href="{% url 'notes:update-note' note.pk %}" class="text-dark">Update</a>
                    </button>

                    <button class="btn btn-danger mx-2 my-4">
                        <a href="{% url 'notes:delete-note' note.pk %}" class="text-dark">Delete</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <hr class="text-light">
    {% empty %}
        <p>You didn't add any notes yet click <a href="{% url 'notes:create-note' %}">here</a> to add a new note</p>
    {% endfor %}
{% endblock content %}
